*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: sticky;
  scroll-behavior: smooth;
}

.nav-link:hover{
    color: goldenrod !important;
}

.header{
    background: linear-gradient(40deg,rgba(0, 247, 255, 1),blue);
    position: sticky;
    top: 0;
    z-index: 1;
}
.navbar-brand{
    font-family: "Arial Black", Gadget, sans-serif;
}

#home{
  /* width: 100%; */
    padding: 0em 2em 0em 2em;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.664);
    z-index: -3;
    isolation: isolate;
    position: relative;
    
}
@media screen and (max-width: 992px){
    #home {
        padding: 0em 1em 0em 1em;
    }
}
   @media screen and(max-width:350px){
    .home-container{
        background-size: auto; 
        background-position: center;  
        background-clip: content-box;
     }
   }

.home-container{
    width: 100%;
    background: url("./assets/house.home.jpg");
   min-height: 90vh;
   background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  display: grid;
  place-content: center;
  align-items: center;
  position: relative;
  isolation: isolate;
  z-index: -1;
  color: white;
  text-align: center;
}

.home-container::after{
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    inset: 0;
    z-index: -1;
}

.text{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.home-container h1{
    font-size: 60px;
    font-weight: 700;
}
.home-container p{
    color: rgb(255, 255, 255);
    font-size: 17px;
    line-height: 28px;
    padding: 15px;
    max-width: 600px;
    margin: 0px auto 40px;
    background: rgba(0, 0, 0, 0.3);
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.navbar-nav li a{
    font-size: 25px;
 text-transform: uppercase;
}
@media screen and (max-width: 992px)  {
    .home-container{
        min-height: 100vh;
    }
    .text{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 700px){
    .home-container p{
        min-width: 5rem;
    }
    .home-container h1{
        font-size: 2.5em;
    }
}

@media screen and (max-width: 600px){
    .btn{
        width: 100%;
    }
}
.btn2{
    width: 100px;
    height: 40px;
    background: linear-gradient(30deg,red,rgb(16, 16, 16));
    border-radius: 5px;
    margin-left: 40%;
    border: none;
}

.btn2 a{
    text-decoration: none;
    color: white;
}

.btn2:hover{
    background: linear-gradient(30deg,black,red);
    color: white;
}

#get-touch{
    width: 100%;
    background: linear-gradient(40deg,black,rgb(218, 201, 201));
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 1em;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
z-index: -1;
}

.touch-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    z-index: 1;
}

.touch-text{
    color: white;
    position: static;
}
.btn{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.btn3{
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 35px;
    background: black;
    color: white;
   
}

.btn3 a{
    text-decoration: none;
    color: rgb(247, 18, 18);
}

.btn3:hover{
    background-color: #1f386e;
    color: black;
    border: 2px solid black;
}



@media screen and (max-width: 950px){
    #about{
       width: 100%;
    }
}
#about{
    width: 100%;
    background: linear-gradient(rgba(255, 0, 0, 0.584) 40%,white);
    padding: 5rem 3rem 3rem 3rem;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
z-index: -1;
   
}

.about-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  
}

.image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img{
    width: 350px;
    height: 350px;
    border: 10px solid white;
    border-radius: 5px;
}

@media  (max-width: 992px){
    .image img{
        width: 200px;
        height: 200px;
    }
  .image{
    width: 50%;
  }
    .about-text{
        display: flex;
    flex-flow: column;
        min-height: 80vh;
        text-align: center;
        width: 100%;
    }

    .about-container{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 90vh;
        margin-bottom: 200px;
        width: 100%;
    }
    .text2{
        display: flex;
        flex-direction: column;
        
    }

    hr{
        width: 500px;
    }
}

.about-text{
    width: 50%;

}

.list-item{
    ul:first-child  li:before { content:"\2713\0020"; }  /* OR */
    ul:nth-child(2) li:before { content:"\2714\0020"; }  /* OR */
    ul { list-style-type: none; }
}

.text2{
    width: 100%;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media screen and (max-width: 950px){
    .about-text, .list-item{
        width: 100%;
        text-align: center;
        
    }
}

#services{
    width: 100%;
    background: linear-gradient(white,black);
    padding: 5rem 10rem 5rem 10rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
z-index: -1;
}

.service-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
   
}

@media(max-width: 992px){
    #services{
        flex-direction: row;
        padding: 5rem 5rem 5rem 5rem;
 }
 .card{
    margin-bottom: 2rem;
    max-width: 15rem;
    
 }

}


[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

#project{
    width: 100%;
    height: 100vh;
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 10rem 1rem 10rem;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
z-index: -1;
text-align: center;
background: linear-gradient(45deg, rgb(237, 80, 80),rgb(36, 222, 222));
}

#project img{
    width: 50%;
    height: 400px;
  filter: drop-shadow(5px 10px 10px red);
}

#project.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
@media screen and (max-width: 950px){
    #project img{
      width: 100%;
      height: 300px;
    }
    #project{
        padding: 1rem 3rem 1rem 3rem;
    }
}

.carousel-control-next{
    opacity: 0.7;
}

#contact{
    width: 100%;
    padding: 5rem;
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 1);
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
z-index: -1;
}

input{
    margin-bottom: 1rem;
    gap: 1rem;
    border: 2px solid rgb(9, 149, 170);
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    color: rgb(246, 244, 244);
    background-color: transparent;
    width: 40vw;
    height: 40px;
   
    
    
}
input::placeholder{
    padding-left: 10px;
   
}

.message::placeholder{
    padding-left: 10px;
    background-color: transparent;
}
.message{
    background-color: transparent;
    border: 2px solid rgb(9, 149, 170);
    border-radius: 5px;
    outline: none;
    width: 40vw;
    height: 40vh;
}

@media screen and (max-width: 950px){
    input{
        width: 80vw;
        
    }
    .message{
        /*  max-height: 100px; */
      width: 80vw;

    }
}

.btn-4{
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 2em;
   width: 100px;
   height: 50px;
   outline: none;
    border-radius: 5px;
    background: linear-gradient(50deg,white ,rgba(0, 0, 0, 0.488));
    color: rgb(243, 8, 8);
    font-size: 20px;
    border: none;
}

.btn-4:hover{
    background: linear-gradient(30deg,black,white );
}

#contact h2{
    color: white;
    font-size: 3rem;
}

.footer{
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #f6f7f9;
    
}

.social-media{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2rem;

}
.social-media i{
    font-size: 35px;
    padding-left: 20px;
    color: black;
}

.social-media  .fa-instagram:hover{
    font-weight: 900;
    background: linear-gradient(40deg,red,blue);
    color: transparent;
    -webkit-background-clip: text;
}

.social-media  .fa-facebook:hover{
    font-weight: 900;
    color: rgba(0, 0, 255, 0.837);
   
}